body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.h28 {
  height: 28px;
}

@media only screen and (max-device-width: 767px) {

  div.my-top-container div.input-group {
    position: absolute;
	top: 14px;
	left: 101px;
	width: calc(100% - 120px);
  }
  
  /*
  div.my-top-container  div.navbar-header.h50 {
    height: 50px;
  }
  */
  
  div.my-top-container form.navbar-form {
    border-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0px;
	padding-top: 5px;
    padding-bottom: 5px;
  }

}